@font-face {
  font-family: NotoSansPaha;
  src: url(./NotoSansPahawhHmong-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: hidden;
  font-family: NotoSansPaha;
}

.card {
  width: 21.5%;
  height: 22rem;
  cursor: pointer;
}

/* navbar */

nav {
  height: 4.3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-logo {
  width: 15%;
  display: flex;
  justify-content: end;
}

.nav-logo img {
  width: 9rem;
  height: 2rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

.nav-menu {
  width: 35%;
  display: flex;
}

.nav-menu ul {
  display: flex;
  gap: 1.3rem;
  cursor: pointer;
}

.nav-menu > ul > li {
  font-size: 0.8rem;
}

.nav-menu ul li:after {
  content: "";
  display: flex;
  justify-content: center;
  height: 2px;
  width: 100%;
  background-color: black;
  transform: scale(0);
}

.nav-menu ul li:hover::after {
  transform: scaleX(0.9);
}

.nav-info {
  width: 40%;
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.nav-features > button {
  background-color: white;
  border: none;
  outline: none;
  padding: 0.5rem;
  cursor: pointer;
}

.nav-features > button:after {
  content: "";
  display: flex;
  justify-content: center;
  height: 2px;
  width: 100%;
  background-color: black;
  transform: scale(0);
}

.nav-features > button:hover::after {
  transform: scaleX(0.9);
}

.nav-search {
  display: flex;
  align-items: center;
}

.nav-search > button {
  background-color: white;
  border: none;
  outline: none;
  padding: 0.5rem;
  cursor: pointer;
}

.nav-search > button:after {
  content: "";
  display: flex;
  justify-content: center;
  height: 2px;
  width: 100%;
  background-color: black;
  transform: scale(0);
}

.nav-search > button:hover::after {
  transform: scaleX(0.9);
}

.nav-cart {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-cart > button {
  background-color: white;
  border: none;
  outline: none;
  padding: 0.5rem;
}

.nav-cart > button:after {
  content: "";
  display: flex;
  justify-content: center;
  height: 2px;
  width: 100%;
  background-color: black;
  transform: scale(0);
}

.nav-cart > button:hover::after {
  transform: scaleX(0.9);
}

.nav-signin {
  display: flex;
  cursor: pointer;
}

.nav-signin > button {
  background-color: white;
  border: none;
  outline: none;
  padding: 0.5rem;
}

.nav-signin > span {
  width: 2rem;
  height: 2rem;
  border: 2px solid #636262;
  margin-left: 0.5rem;
  border-radius: 50%;
  color: #636262;
}

.nav-signin > span > i {
  height: 100%;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.assitance {
  height: 4.3rem;
  background-color: #0067b8;
  cursor: pointer;
}

.assitance-info {
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.assitance-info:hover {
  text-decoration: underline;
}

/* hero-section */

.swiper {
  width: 100%;
  height: 28rem;
  margin-bottom: 0.8rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.swiper-prev {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-next {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-wrapper {
  position: relative;
}

.info-slide > h3 {
  font-size: 2.2rem;
  position: absolute;
  top: 130px;
  right: 380px;
}

.info-slide > h5 {
  width: 28rem;
  font-size: 0.9rem;
  position: absolute;
  top: 200px;
  right: 150px;
}

.info-slide > button {
  padding: 0.7rem;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 1px;
  background-color: #0067b8;
  color: white;
  border: none;
  position: absolute;
  top: 260px;
  right: 495px;
}

.info-slide > button:hover {
  background-color: #00518f;
}

.info-content > h3 {
  width: 30rem;
  font-size: 2.2rem;
  position: absolute;
  top: 110px;
  left: 140px;
}

.info-content > h5 {
  width: 28rem;
  font-size: 0.9rem;
  position: absolute;
  top: 230px;
  left: 140px;
}

.info-content > .info-content-btn1 {
  padding: 0.7rem;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 1px;
  background-color: #0067b8;
  color: white;
  border: none;
  position: absolute;
  top: 300px;
  left: 140px;
  cursor: pointer;
}

.info-content > .info-content-btn1:hover {
  background-color: #00518f;
}

.info-content > .info-content-btn2 {
  padding: 0.7rem;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 1px;
  background-color: transparent;
  color: black;
  border: none;
  position: absolute;
  top: 300px;
  left: 295px;
  cursor: pointer;
}

.info-content > .info-content-btn2:hover {
  text-decoration: 1.5px solid underline;
}

/* service */

#service {
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-content {
  display: flex;
  gap: 3rem;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.service-card img {
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 0.9rem;
}

.service-card > a {
  color: #0067ba;
  text-decoration: underline;
}

/* product section */
#product {
  height: 25rem;
}

.product-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-info > a {
  color: #0067b8;
}
.product-info > a:hover {
  text-decoration: underline;
}

/* game pass  */

#game-pass {
  height: 38rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#game-pass > h1 {
  width: 20rem;
  color: white;
  position: absolute;
  top: 200px;
  left: 200px;
  font-size: 2.5rem;
  cursor: pointer;
}

#game-pass > h4 {
  width: 25rem;
  color: white;
  position: absolute;
  top: 310px;
  left: 200px;
  cursor: pointer;
}

#game-pass > button {
  color: white;
  background-color: #0067b8;
  border: none;
  padding: 0.9rem;
  position: absolute;
  top: 370px;
  left: 200px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 550;
}

#game-pass > button:hover {
  background-color: #00518f;
}

.pass-content {
  height: 33rem;
  width: 85rem;
  background-color: black;
  display: flex;
  align-items: center;
}

.pass-content img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* business service  */

#business-product {
  height: 25rem;
}
#business-product > h1 {
  padding: 2rem 0 1rem 5rem;
  font-size: 2.5rem;
}

.business-product-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.business-product-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.business-product-info > a {
  color: #0067b8;
}
.business-product-info > a:hover {
  text-decoration: underline;
}

/* social section  */
#social {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-media {
  padding-left: 5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.social-media > i {
  font-size: 1.4rem;
}

.go-to-top-btn {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 1rem;
}

.back-to-top {
  background-color: #d9d9d9;
  color: black;
  font-size: 1.1rem;
  width: 8rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed;
  bottom: 0;
  right: 20px; */
  margin-bottom: 1rem;
}

.back-to-top:hover {
  background-color: white;
  box-shadow: 2px 2px 5px rgb(76, 76, 76);
}

.back-to-top > i {
  padding-right: 0.5rem;
  font-size: 0.9rem;
}

/* footer  */

footer {
  background-color: #f2f2f2;
  height: 27rem;
}

.footer-section {
  margin: 0 auto;
  padding: 2.5% 5% 0 5%;
  display: flex;
  justify-content: space-between;
}

.footer-menu {
  line-height: 2rem;
}

.footer-menu > h3 {
  color: #636262;
}

.footer-menu > ul > li {
  font-size: 0.7rem;
  color: #616161;
  cursor: pointer;
}

.footer-menu > ul > li:hover {
  text-decoration: underline;
}

.footer-info {
  height: 5rem;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footer-lang {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 1.5rem;
  font-size: 0.7rem;
  color: #616161;
  cursor: pointer;
}

.footer-lang:hover {
  text-decoration: underline;
}

.footer-choices > p {
  display: flex;
  align-items: end;
  font-size: 0.8rem;
  color: #616161;
  cursor: pointer;
}

.footer-choices > p:hover {
  text-decoration: underline;
}

.footer-contact > ul {
  display: flex;
  gap: 0.8rem;
  font-size: 0.7rem;
  color: #616161;
  cursor: pointer;
}

.footer-contact > ul > li:hover {
  text-decoration: underline;
}
